<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="../static/css/lunbo.css">
    <link rel="stylesheet" href="../static/css/sign.css">
    <link rel="icon" href="../static/images/icon.png" type="image/x-icon" />
    <script src="../static/js/search.js"></script>
    <title>音乐馆</title>
</head>

<body>
    <a href="#qwq"><img src="../static/images/upward.png" class="upward"></a>
    <div class="signbox">
        <div class="closebox" onclick="closewindow()"></div>
        <p class="signp1">登陆|注册</p>
        <div class="sign-method">
            <a href="#" class="social"><i class="fab fa-qq"></i></a>
            <a href="#" class="social"><i class="fab fa-weixin"></i></a>
            <a href="#" class="social"><i class="fab fa-weibo"></i></a>
        </div>
        <p class="signp2">选择以上方式登录或使用您的账号</p>
        <form action="./index.php?a=Login" method="POST">
            <p class="signp  signinput1"><input type="text" name="user" placeholder="账号" class="signinput"></p>
            <p class="signp"><input type="password" name="password" placeholder="密码" class="signinput"></p>
            <p class="signp3">
                <input type="submit" name="login" value="登录">
                <input type="submit" name="register" value="注册">
            </p>
        </form>
    </div>
    <header>
        <div class="header2" id="qwq">
            <ul>
                <li><a href="./index.php" class="a a1">音乐馆</a></li>
                <li><a href="./index.php?a=Gedan" class="a a2">歌单</a></li>
                <li><a href="./index.php?a=Bangdan" class="a a2">排行榜</a></li>
            </ul><div class="header1">
                <form class="a form1" onsubmit="return search()">
                    <p>
                        <i class="fas fa-search fabb"></i>
                        <input type="text" placeholder="搜索歌曲" class="sousuo1" id="search_input"  type="text">
                    </p>
                </form>
                <?php
                    if (!isset($_COOKIE['user'])) {
                        echo '<div class="a a3" style="font-size: 20px;cursor: pointer;color: #000;" onclick="openwindow()">登录/注册</div>';
                    } else {
                        $mysql = new mysql();
                        $txpath = $mysql->getTxpath(decrypt($_COOKIE['user']));
                        echo '
                        <a href="./index.php?a=Shoucang" class="a a4" style="font-size: 20px;">我的收藏</a>
                        <div class="xx1">
                            <a href="./index.php?a=Profile">
                                <img src="'.$txpath.'" class="tx">
                            </a>
                            <span onclick="clearCookie()">退出</span>
                        </div>';
                    }
                ?>
            </div>
        </div>
    </header>
    <div class="tuijian">
        <div id="box"></div>
        <script>
            var img = ["1.jpg", "2.jpg", "3.jpg", "4.jpg", "5.jpg"]
            var imgPath = "../static/images"
            var time = 2000;
        </script>
        <script src="../static/js/lunbo.js"></script>
    </div>
    <div class="boxbox1">
        <div class="bodybox">
            <h1><i>-----☆★☆★每日好歌☆★☆★-----</i></h1>
            <div class="bodybox1">
                <?php
                for ($i = 0; $i < 4; $i++) {
                    echo '
                    <div class="bodybox2">
                        <div class="tjimg11">
                            <a href="#bb4"><a href="./index.php?a=PlayMusic&id='.$daily[$i]->id.'"><img src="'.$daily[$i]->imgPath.'" class="tjimg b4" id="bb4"></a></a>
                        </div>
                        <p><a href="'.$daily[$i]->audioPath.'">'.$daily[$i]->name.'</a></p>
                    </div>';
                }
                ?>
            </div>
        </div>
    </div>
    <div class="boxbox2">
        <div class="bodybox">
            <h1><i>-----★☆★☆歌单推荐★☆★☆-----</i></h1>
            <div class="bodybox1">
                <?php
                for ($i = 0 ;$i < 3 ; $i++){
                    echo '
                    <div class="bodybox3">
                        <div class="port-1 effect-1">
                            <div class="image-box">
                                <a href="./index.php?a=GedanDetail&id='.$gedan[$i]->id.'"><img src="'.$gedan[$i]->imgPath.'"></a>
                            </div>
                            <div class="text-desc">
                                <h3>'.$gedan[$i]->name.'</h3>
                                <p>'.$gedan[$i]->intro.'</p>
                                <span class="btn1">点击收听</span>
                            </div>
                        </div>
                    </div>';
                }
                ?>
            </div>
        </div>
    </div>
    <div class="boxbox1">
        <div class="bodybox">
            <h1><i>-----☆★☆★音乐热榜☆★☆★-----</i></h1>
            <div class="bodybox1">
                <div class="bdbox bdbox1">
                    <p><a href="./index.php?a=Bangdan">热播榜</a></p>
                    <ul>
                    <?php
                        for ($i = 0 ; $i < 8 ; $i++){
                            echo '
                            <li>
                                <p><span>'.($i+1).'</span><a href="./index.php?a=PlayMusic&id='.$bangdan[0]->music[$i]->id.'" class="bda">'.$bangdan[0]->music[$i]->name.'</a></p>
                            </li>';
                        }
                    ?>
                    </ul>
                </div>
                <div class="bdbox bdbox2">
                    <p><a href="./index.php?a=Bangdan">新歌榜</a></p>
                    <ul>
                    <?php
                        for ($i = 0 ; $i < 8 ; $i++){
                            echo '
                            <li>
                                <p><span>'.($i+1).'</span><a href="./index.php?a=PlayMusic&id='.$bangdan[1]->music[$i]->id.'" class="bda">'.$bangdan[1]->music[$i]->name.'</a></p>
                            </li>';      
                        }
                    ?>
                    </ul>
                </div>
                <div class="bdbox bdbox3">
                    <p><a href="./index.php?a=Bangdan">欧美榜</a></p>
                    <ul>
                    <?php
                        for ($i = 0 ; $i < 8 ; $i++){
                            echo '
                            <li>
                                <p><span>'.($i+1).'</span><a href="./index.php?a=PlayMusic&id='.$bangdan[6]->music[$i]->id.'" class="bda">'.$bangdan[1]->music[$i]->name.'</a></p>
                            </li>';      
                        }
                    ?>
                    </ul>
                </div>
                <div class="bdbox bdbox4">
                    <p><a href="./index.php?a=Bangdan">国风榜</a></p>
                    <ul>
                    <?php
                        for ($i = 0 ; $i < 8 ; $i++){
                            echo '
                            <li>
                                <p><span>'.($i+1).'</span><a href="./index.php?a=PlayMusic&id='.$bangdan[9]->music[$i]->id.'" class="bda">'.$bangdan[1]->music[$i]->name.'</a></p>
                            </li>';      
                        }
                    ?>
                    </ul>
                </div>
                <div class="bdbox bdbox5">
                    <p><a href="./index.php?a=Bangdan">说唱榜</a></p>
                    <ul>
                    <?php
                        for ($i = 0 ; $i < 8 ; $i++){
                            echo '
                            <li>
                                <p><span>'.($i+1).'</span><a href="./index.php?a=PlayMusic&id='.$bangdan[10]->music[$i]->id.'" class="bda">'.$bangdan[1]->music[$i]->name.'</a></p>
                            </li>';      
                        }
                    ?>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>版权所有©2021&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rx762&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学号:201912341234&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                href="mailto:tobatu762@qq.com">与我联系</a></p>
    </footer>
</body>

</html>